<!-- <div align="center" class="init-container" [ngStyle]="{ 'background-image': 'url(' + bgElems[bgIndex % bgElems.length] + ')' }"> -->
<div class="kanji" [hidden]="!showJOJO"></div>
<div class="lines" [hidden]="!showJOJO"></div>
<div align="center" class="init-container" [ngStyle]="{ 'background-image': 'url(' + bgPath + ')' }">
    <div class="gradient">
        <div class="triangle-container" align="center">
            <img [src]="triangleSrc" class="triangle" alt="...">
        </div>
        <!-- <div class="init-container" cla="{ 'background-image': bgElems[bgIndex] }"> -->
        <app-ruleta-container [elems]="elems" [ry]="ry" [trTime]="trTime"></app-ruleta-container>
        <!-- <button (click)="spin()" [disabled]="disableBtn">TEST</button> -->
        <img [src]="btnSrc" class="main-btn" alt="..." (click)="spin()">
    </div>
</div>