.init-container {
    position: relative;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-image 2s ease;
    height: 100%;
}

.init-container::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url('/assets/img/bg/sf2ce.jpg') url('/assets/img/bg/mkt.png') url('/assets/img/bg/ki.png') url('/assets/img/bg/kof2002um.png') url('/assets/img/bg/sfv.jpg') url('/assets/img/bg/ssb64.jpg') url('/assets/img/bg/tekken7.jpg') url('/assets/img/bg/usfiv.jpg') url('/assets/img/bg/mvci.jpg') url('/assets/img/bg/ssbpm.png');
}

.gradient {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    height: 100%;
}

.main-btn {
    width: 18%;
    height: auto;
}

.triangle {
    width: 80px;
    margin-top: 10px;
}